<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/rhino-side-view-silhouette.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <title>My Weather</title>
    <link rel="stylesheet" href="../css/favorites.css">
</head>

<body>
    <header>
        <a id="left" href="index.html"><img id="logo" src="../assets/rhino-side-view-silhouette.png"></a>
        <div id="right">
            <div id="links">
                <a href="weather.html">meteo</a>
                <a href="favorites.html">favoris</a>
                <a href="https://www.google.com">troisieme</a>
                <a href="https://www.google.com">quatrieme</a>
            </div>
        </div>
    </header>
    <main id="app">
        <section id="searchbox">
            <h2>Selectionnez un favoris a ajouter</h2>
            <div>
                <input list="countries" id="countriesin" name="countries" v-model="search" />
                <datalist id="countries">
                    <option v-for="country in countries" :value="country">
                </datalist>
                <button @click="add">Ajouter !</button>
            </div>
        </section>
        <section id="favoriteslist">
            <h2>Liste de vos favoris</h2>
            <div id="gridContainer">
                <div class="grid" v-for="favoris in fake">
                    <div class="trois" id="haut">
                        <img src="../assets/remove.png">
                    </div>
                    <div class="trois">
                        <p>{{favoris}}</p>
                    </div>
                    <div class="trois">
                        <button>consulter la meteo</button>
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>
<script src="../js/favorites.js"></script>

</html>