<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="../assets/rhino-side-view-silhouette.png">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <title>Connexion</title>
    <link rel="stylesheet" href="../css/signin.css">
</head>

<body>
    <header>
        <a id="left" href="index.html"><img id="logo" src="../assets/rhino-side-view-silhouette.png"></a>
        <div id="right">
            <div id="links">
                <a href="weather.html">meteo</a>
                <a href="favorites.html">favoris</a>
                <a href="https://www.google.com">gestion compte</a>
                <a href="login.html">connexion</a>
            </div>
        </div>
    </header>
    <main id="app">
        <div>
            <h1>Création de compte</h1>
            <label for="email">Adresse e-mail</label>
            <input id="email" type="email" v-model="email">
            <label for="username">Nom d'utilmisateur</label>
            <input id="username" type="text" v-model="username">
            <label for="password">Mot de passe</label>
            <input id="password" type=" password" v-model="password">
            <label for="confirm">Confirmer mot de passe</label>
            <input id="confirm" type=" password" v-model="confirm">
            <button @click="sign">Creer un compte</button>
            <a href="login.html">Se connecter</a>
        </div>
    </main>
</body>
<script src="../js/signin.js"></script>

</html>