<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.18.0/axios.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jsonwebtoken/8.3.0/index.js"></script>
    <title>Ma météo !</title>
    <link rel="stylesheet" href="../css/weather.css">
</head>

<body>
    <header>
        <a id="left" href="index.html"><img id="logo" src="../assets/rhino-side-view-silhouette.png"></a>
        <div id="right">
            <div id="links">
                <a href="weather.html">meteo</a>
                <a href="favorites.html">favoris</a>
                <a href="https://www.google.com">gestion compte</a>
                <a href="login.html">connexion</a>
            </div>
        </div>
    </header>
    <main id="app">
        <section>
            <article id="left">
                <div id="gradient">
                    <div id="top">
                        <h2 class="title">{{day}}</h2>
                        <p class="text">{{date}}</p>
                        <p class="text last">{{weather.city}}, {{weather.country}}</p>
                    </div>
                    <div id="bottom">
                        <img :src=weather.logo>
                        <p id="temperature">{{weather.temp}}°C</p>
                        <p class="text">{{weather.description}}</p>
                    </div>
                </div>

            </article>
            <article id="right">
                <div id="toptwo">
                    <span>
                        <h3>COUCHER DE SOLEIL</h3>
                        <p>{{weather.sunset}}</p>
                    </span>
                    <span>
                        <h3>HUMIDITY</h3>
                        <p>{{weather.humidity}} %</p>
                    </span>
                    <span>
                        <h3>WIND</h3>
                        <p>{{weather.windspeed}} km/h</p>
                    </span>
                </div>
                <div id="bottomtwo">
                    <h2>Séléctionnez un favoris à afficher</h2>
                    <input list="favorites" id="ice-cream-choice" placeholder="Paris" v-on:blur="search"
                        v-model="searchStr" />
                    <datalist id="favorites">
                        <option v-for="favorite in favorites" :value="favorite">
                    </datalist>
                    <a href="favorites.html">Ou ajoutez-en un !</a>
                </div>
            </article>
        </section>
    </main>

</body>
<script src="../js/weather.js"></script>

</html>